StockApp/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StockWcf" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMember_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMember" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FetchProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_FetchProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchData_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchData" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_lastSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:lastSearch" />
  </wsdl:message>
  <wsdl:message name="IService1_lastSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:lastSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_selectHeaders_InputMessage">
    <wsdl:part name="parameters" element="tns:selectHeaders" />
  </wsdl:message>
  <wsdl:message name="IService1_selectHeaders_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectHeadersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateCompare_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCompare" />
  </wsdl:message>
  <wsdl:message name="IService1_updateCompare_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCompareResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertCompare_InputMessage">
    <wsdl:part name="parameters" element="tns:insertCompare" />
  </wsdl:message>
  <wsdl:message name="IService1_insertCompare_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertCompareResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMember" message="tns:IService1_GetMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMemberResponse" message="tns:IService1_GetMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FetchProducts" message="tns:IService1_FetchProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FetchProductsResponse" message="tns:IService1_FetchProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchData" message="tns:IService1_SearchData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchDataResponse" message="tns:IService1_SearchData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lastSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/lastSearch" message="tns:IService1_lastSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/lastSearchResponse" message="tns:IService1_lastSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectHeaders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/selectHeaders" message="tns:IService1_selectHeaders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/selectHeadersResponse" message="tns:IService1_selectHeaders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCompare">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateCompare" message="tns:IService1_updateCompare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateCompareResponse" message="tns:IService1_updateCompare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertCompare">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertCompare" message="tns:IService1_insertCompare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertCompareResponse" message="tns:IService1_insertCompare_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMember">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/FetchProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchData">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lastSearch">
      <soap:operation soapAction="http://tempuri.org/IService1/lastSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectHeaders">
      <soap:operation soapAction="http://tempuri.org/IService1/selectHeaders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCompare">
      <soap:operation soapAction="http://tempuri.org/IService1/updateCompare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCompare">
      <soap:operation soapAction="http://tempuri.org/IService1/insertCompare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StockWcf/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>